In [7]:
import numpy as np
import pandas as pd
from sklearn.externals import joblib
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [8]:
def fit_le(df):
    le = LabelEncoder()
    le.fit(np.append(df.values.flatten() , np.array(['unknown'])))
    return le

def transform_le(array, le):
    np.place(array.as_matrix(), ~np.isin(array, le.classes_), 'unknown')
    return le.transform(array)
    
def save_encoder(le, le_path, ohe, ohe_path):
    joblib.dump(le, le_path) 
    joblib.dump(ohe, ohe_path)  
    
def load_encoder(le_path, ohe_path):
    le = joblib.load(le_path)  
    ohe = joblib.load(ohe_path)

In [9]:
df1 = pd.DataFrame([['user_1', 'Igor', 'Nikolaev'], ['user_2', 'Lil', 'Pump']], columns=['id', 'name', 'surname'])
df2 = pd.DataFrame([['user_1', 'Igor', 'Nikolaev'], ['user_4', 'Poshlaya', 'Molly']], columns=['id', 'name', 'surname'])

In [10]:
df1.head()

       id  name   surname
0  user_1  Igor  Nikolaev
1  user_2   Lil      Pump

In [11]:
df2.head()

       id      name   surname
0  user_1      Igor  Nikolaev
1  user_4  Poshlaya     Molly

In [12]:
le = fit_le(df1)

In [13]:
df2[['name', 'surname']] = df2[['name', 'surname']].apply(transform_le, args=(le,), axis=0)

In [14]:
?pd.DataFrame.apply

In [15]:
df2

       id  name  surname
0  user_1     0        2
1  user_4     4        4

In [18]:
ohe = OneHotEncoder(sparse=True, handle_unknown='ignore')
result = ohe.fit_transform(df2[['name', 'surname']])
result.toarray()

array([[1., 0., 1., 0.],
       [0., 1., 0., 1.]])